<div style="margin-top: 20vh; text-align:center">
  <h2>Pago no procesado</h2>
  <h4 style="margin-top: 20px; margin-bottom: 20px;">Pago N°{{orden_compra}} <span
      class="badge bg-secondary">Cancelado</span></h2>
    <a style="margin: auto;" class="btn btn-primary" href="/">Volver</a>
</div>