<div class="row mitad">
  <div class="col-12 col-lg-4">
    <div class="card" style="width: 18rem; margin: 25px auto 25px auto;">
      <div class="card-body" style="text-align: center;">
        <p class="card-text" style="margin: 20px 0 20px 0;">
          <small class="text-muted">Enseñanza</small>
        </p>
        <h5 class="card-title" style="margin: 20px 0 20px 0;">Pre-Basica</h5>
        <p class="card-text" style="margin: 30px 0 30px 0;">$150.000</p>
        <form method="post" action="/">
          <input type="hidden" name="title" value="Enseñanza pre-basica" />
          <input type="hidden" name="monto" value="150000" />
          <input class="btn btn-primary" type="submit" value="Ir a pagar" />
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="card" style="width: 18rem; margin: 25px auto 25px auto;">
      <div class="card-body" style="text-align: center;">
        <p class="card-text" style="margin: 20px 0 20px 0;">
          <small class="text-muted">Enseñanza</small>
        </p>
        <h5 class="card-title" style="margin: 20px 0 20px 0;">Basica</h5>
        <p class="card-text" style="margin: 30px 0 30px 0;">$150.000</p>
        <form method="post" action="/">
          <input type="hidden" name="title" value="Enseñanza Basica" />
          <input type="hidden" name="monto" value="150000" />
          <input class="btn btn-primary" type="submit" value="Ir a pagar" />
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="card" style="width: 18rem; margin: 25px auto 25px auto;">
      <div class="card-body" style="text-align: center;">
        <p class="card-text" style="margin: 20px 0 20px 0;">
          <small class="text-muted">Enseñanza</small>
        </p>
        <h5 class="card-title" style="margin: 20px 0 20px 0;">Media</h5>
        <p class="card-text" style="margin: 30px 0 30px 0;">$150.000</p>
        <form method="post" action="/">
          <input type="hidden" name="title" value="Enseñanza Media" />
          <input type="hidden" name="monto" value="150000" />
          <input class="btn btn-primary" type="submit" value="Ir a pagar" />
        </form>
      </div>
    </div>
  </div>
</div>